ECHO is on.
#box4{
    width: 30%;
    height: 30vh;
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
  }
  #box5{
    width: 30%;
    height: 30vh;
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
  }
  #box6{
    width: 30%;
    height: 30vh;
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
  }
  #box7{
    width: 30%;
    height: 30vh;
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
  }