@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
nav a {
  color: grey;
  text-decoration: none;
  margin-left: 10px;
}
.selected {
  color: #00b39b;
}
nav a:hover {
  color: #00b39b;
}
#next {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: 80px;
}
#boi {
  display: flex;
  justify-content: center;
  color: #00b39b;
  font-family: "Work Sans", Arial, sans-serif;
  /* font-size: 33px; */
  font-weight: 300;
  /* line-height: 47px; */
}
#text {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 50px auto;
  gap: 15px;
}
.txt {
  color: #747474;
  font-style: normal;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 23px;
}
#threebox {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
}
#box1 {
  width: 30%;
  height: 50vh;
  /* border: 1px solid black; */
  background-color: #00ccb1;
  border-radius: 10px;
  margin: 15px;
}
#box2 {
  width: 30%;
  height: 50vh;
  /* border: 1px solid black; */
  background-color: #3d83df;
  border-radius: 10px;
  margin: 15px;
}
#box3 {
  width: 30%;
  height: 50vh;
  /* border: 1px solid black; */
  background-color: #1b2734;
  border-radius: 10px;
  margin: 15px;
}
#box1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* text-align: center; */
  padding-left: 20px;
}
#tbox1 {
  color: white;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 200px;
  font-style: normal;
  padding-left: 10px;
  margin-bottom: 20px;
  /* padding-top: 40px; */
  /* word-spacing: 3px; */
}
#tbox1 p {
  margin-top: 10px;
}
#tbox1t {
  color: white;
  text-decoration: none;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 300px;
  font-style: normal;
  /* padding-top: 70px; */
  padding-bottom: 30px;
}
#box2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* text-align: center; */
  padding-left: 20px;
}
#tbox2 {
  color: white;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 200px;
  font-style: normal;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  /* margin-top: 30px; */
  /* word-spacing: 3px; */
}
#tbox2 p {
  margin-top: 10px;
}
#tbox2t {
  color: white;
  text-decoration: none;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 300px;
  font-style: normal;
  /* padding-top: 70px; */
  padding-bottom: 50px;
}
#box3 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* text-align: center; */
  padding-left: 20px;
}
#tbox3 {
  color: white;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 200px;
  font-style: normal;
  padding-top: 40px;
  padding-left: 10px;
  /* word-spacing: 3px; */
}
#tbox3 p {
  margin-top: 15px;
}
#tbox3t {
  color: white;
  text-decoration: underline;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 300px;
  font-style: normal;
  padding-top: 30px;
  /* padding-bottom: 30px; */
}
select {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
  font-size: 21px;
  font-weight: 300;
}
option {
  /* background-color: black; */
  color: black;
  font-size: 21px;
  font-weight: 300;
}
#tbox3tt {
  color: white;
  text-decoration: underline;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 300px;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}
#maincont {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid black; */
}
#textcont {
  /* border: 1px solid black; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: #00b39b;
  line-height: 40px;
  font-style: normal;
}
#icons {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  align-items: center;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin-left: 50px;
  padding-bottom: 30px;
}
#icons img {
  width: 20%;
}
/* this is the part that was done in class */
#section4 {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #d1f5f1;
  justify-content: space-evenly;
}
.right-box,
.left-box {
  width: 40%;
}
.left-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
  gap: 5vh;
}
.left-box h1{
  color: #00b39b;
  font-weight: 300;
  font-size: 30px;
  font-family: "Work Sans", Arial, sans-serif;
  line-height: 33px;
  /* margin-bottom: 30px; */
}
.left-box p{
  color: #747474;
    font-size: 15px;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 21px;
}
.left-box img{
  width: 85%;
}

.right-box {
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.rgbx1,
.rgbx2 {
  height: 95%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rgbx1 {
  align-self: end;
}
.inner-box {
  background-color: white;
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.inner-box h1 {
  width: 70%;
  text-align: center;
  color: #00b39b;
  font-size: 26px;
  line-height:  28px;
  font-weight: 300;
  font-family: "Work Sans", Arial, sans-serif;;
}
.inner-box p {
  width: 70%;
  text-align: center;
  font-size: 11px;
  color: #747474;
  font-weight: 400;
  line-height: 16px;
  margin-top: 10px;
  font-family: Roboto, Arial, sans-serif;;
}

/* this is the end of the styles done in class */

#bigimg {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 45%;
  align-self: baseline;
}
#largelogo {
  margin: 40px;
}
#bigimgtext {
  margin: 70px 70px;
}
#bigimgtext h1 {
  color: #00b39b;
  font-weight: 300;
  font-size: 30px;
  font-family: "Work Sans", Arial, sans-serif;
  /* line-height: 30px; */
  /* margin-bottom: px; */
}
#bigimgtext p {
  color: #747474;
  font-size: 15px;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  /* line-height: 21px; */
  /* margin-bottom: 30px; */
}
/* #bigimgbox2{
  width: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
/* row-gap: 10px; */
/* column-gap: 20px; */
/* } */
/* #boxofbigimg1{
  width: 25%;
  height: 30vh;
  /* border: 1px solid black; */
/* } */
/* #bigimgbox2 #boxofbigimg2{
  width: 25%;
  height: 30vh;
  /* border: 1px solid black; */
/* }  */
/* #bigimgbox3{ */
/* width: 50%; */
/* border: 1px solid black; */
/* display: flex; */
/* justify-content: center; */
/* flex-direction: column; */
/* row-gap: 10px; */
/* column-gap: 20px; */
/* } */
/* #boxofbigimg3{ */
/* width: 25%; */
/* height: 30vh; */
/* border: 1px solid black; */
/* } */
/* #boxofbigimg4{ */
/* width: 25%; */
/* height: 30vh; */
/* border: 1px solid black; */
/* } */
#section5 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
#section5 h1 {
  color: #00b39b;
  font-size: 30px;
  font-weight: 300;
  font-family: "Work Sans", Arial, sans-serif;
  line-height: 33px;
  /* margin-bottom: 10px; */
}
#section5 p {
  color: #747474;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
}
#wee {
  display: flex;
  justify-content: center;
  width: 100%;
}
#countryimg {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  row-gap: 5px;
  column-gap: 10px;
}
.countryimgg {
  width: 30%;
  height: 50vh;
  /* border: 1px solid black; */
}
#countryimg img {
  width: 100%;
  height: 80%;
}
.txtuimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center  ;
  /* margin: 20px; */
  padding: 20px;
  height: 15%;
  width: 90%;
}
:hover.txtuimg {
  background-color: rgb(218, 213, 213);
  /* border: 2px solid black; */
  border-radius: 10px;
  box-shadow: white;
  /* margin: 20px; */
  padding: 10px;
}
.country1para {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  line-height: 23px;
  font-weight: 400;
  color: #747474;
}
.country2para {
  /* border: 1px solid black; */
  background-color: #3d83df;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 5px 5px;
  margin: 5px 5px;
  height: 20px;
  font-size: 12px;
  line-height: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
}
#section7txt {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
/* #section7txt h1{ */
/* color: #00b39b; */
/* font-size: 30px; */
/* font-weight:300 ; */
/* font-family:"Work Sans", Arial, sans-serif;  ; */
/* line-height: 33px; */
/* margin-bottom: 10px; */
/* } */
/* #section7txt h2{ */
/* color: #00b39b; */
/* font-size: 30px; */
/* font-weight:300 ; */
/* font-family:"Work Sans", Arial, sans-serif;  ; */
/* line-height: 33px; */
/* margin-bottom: 10px; */
/* } */
#section7txt {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
  /* width: 30%; */
}
#section7txt h1 {
  color: #333333;
  font-size: 30px;
  font-weight: 300;
  font-family: "Work Sans", Arial, sans-serif;
  line-height: 33px;
  margin-bottom: 10px;
}
button {
  background-color: #3d83df;
  font-size: 12px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 17px;
  border: 1px hidden black;
  color: white;
  /* text-align: center; */
  /* text-align: center; */
  border-radius: 5px;
  padding: 15px 50px;
  /* height: 20px; */
  margin: 10px 10px;
}
#footertxt1 {
  color: #ababab;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}
#footertxt1 span a {
  text-decoration: none;
  color: #23527c;
}
#footertxt1 span a :hover {
  text-decoration: underline;
  color: #23527c;
}
#footertxt2 {
  text-align: center;
  color: #ababab;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 20px;
}
